body {
    margin: 0%;
    font-family: 'Segoe UI', 'Open Sans', Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-height: 100%;
    width: auto;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}